@font-face {
  font-family: 'iconfont';  /* project id 574289 */
  src: url('https://at.alicdn.com/t/font_574289_es5mem9wo65n4s4i.eot');
  src: url('https://at.alicdn.com/t/font_574289_es5mem9wo65n4s4i.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_574289_es5mem9wo65n4s4i.woff') format('woff'),
  url('https://at.alicdn.com/t/font_574289_es5mem9wo65n4s4i.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_574289_es5mem9wo65n4s4i.svg#iconfont') format('svg');
}
body{
	font-size: 12px;
	width: 100vw;
	height: 100vh;
	background-color: #f5f5f5;
}
#position{
	width: 100%;
	height: 1.91rem;
	background: linear-gradient(to right,#00aaff,#0186ff);
	color: #fff;
}
.position_top{
	width: 100%;
	height: .88rem;
	padding: 0 .3rem;
}
.position_topl{
	float: left;
	width: 3rem;
	height: .26rem;
	margin-top: .38rem;
	display: flex; 
	justify-content:space-between;
	align-items: center;
}
.position_weizhi{
	width: 2.4rem;	
	font-size: .26rem;
	line-height: .26rem;
	white-space: nowrap;
	overflow: hidden;
	font-weight: bold;
}
.position_icon,.position_icon1{
	font-family: 'iconfont';
	color: #fff;
	font-size: .3rem;
	line-height: .26rem;
}
.position_icon1{
	font-size: .15rem;
	padding-top: .1rem;
}
.position_topr{
	float: right;
	margin-top: .29rem;
}
.position_wz{
	padding-top: .06rem;
	float: left;
	font-size:.14rem;
	margin-right: .1rem;
}
.position_shi,.position_qiang{
	line-height: .14rem;
}
.position_shi{
	margin-bottom: .08rem;
}
.position_img{
	float: right;
	width: .44rem;
	height: .44rem;
}
.position_mid{
	width: 5.1rem;
	height: .54rem;
	margin: 0 auto;
	position: relative;
}
.position_sousuo{
	width: 5.1rem;
	height: .54rem;
	text-align: center;
	color: #a1a1a1;
	border-radius: .08rem;
	outline: none;
	font-size: .18rem;
	line-height: .18rem;
} 
.sousuo_icon{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 1.6rem;
	margin: auto;
	font-family: 'iconfont';
	color: #bfbfbf;
	font-size: .25rem;
	line-height: .26rem;
	width: .26rem;
    height: .26rem;
}
.position_bottom{
	width: 100%;
	height: .49rem;
	padding:0 .3rem;
	font-size: .17rem;
	line-height: .17rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.gouwu{
	width: 100%;
	height: .68rem;
	position: fixed;
	top: 65%;
    right: 6%;
	z-index: 99;
}
.gouwu_box{
	position: absolute;
	top: 0;
	right: 0;
	width: .68rem;
	height: .68rem;
}
.gouwu_box span{
	display: block;
	width: .68rem;
	height: .68rem;
	border-radius: 50%;
	background-color: #FDFBF9;
	box-shadow: 0 0 0 2px rgba(212, 192, 192, 0.6);
	font-family: 'iconfont';
	color: #818181;
	font-size: .6rem;
    text-align: center;
	line-height: .68rem;
}
#content{
	position: absolute;
	left: 0;
	right: 0;
	top: 1.92rem;
	bottom:.75rem; 
	overflow-y: scroll;
}
#banner{
	width: 100%;
	height: 1.5rem;
	margin-top: -.01rem;
}
.banner_img{
	width: 100%;
	height: 1.5rem;
}
#meishi{
	width: 100%;
	height: 2.63rem;
	margin-top: .16rem;
	background-color: #fff;
}
.meishi_box{
	width: auto;
	height: 2.34rem;
	overflow: hidden;
}
.meishi_huadong{
	display: flex;
	justify-content:space-between; 
	align-content: center;
    overflow-x: scroll;
}
.meishi_huadong::-webkit-scrollbar{          /* : : 伪类选择器  h3*/
	display: none;
}
.meishi_content{
	width: 100%;
	height: 2.34rem;
	padding: 0 .22rem;
	display: flex;
	flex-wrap: wrap;
	justify-content:space-between; 
	align-content: center;
	flex-shrink:0;
}
.meishi_item{
	width: .78rem;
	height: 1.16rem;
	flex-shrink:0;
	flex-wrap: wrap;
	flex-direction: column; 
	justify-content:space-between; 
	align-content: center;
	margin-bottom: .17rem;
	margin: 0 .1rem;
}
.meishi_img{
	width: .78rem;
	height: .78rem;
}
.meishi_img img{
	width: .78rem;
	height: .78rem;
}
.wenzi_meishi{
	color: #707070;
	font-size: .16rem;
	line-height: .16rem;
	text-align: center;
	margin-top: .06rem;
	display: block;
}
.meishi_bottom{
	width: 100%;
	height: .29rem;
	padding: .13rem 2.52rem;
}
.meishi_gangl{
	float: left;
	width: .15rem;
	height: .03rem;
	background-color: #b4b4b4;
}
.meishi_gangr{
	float: right;
	background-color: #ddd;
}
#dinner{
	width: 100%;
	height: 1.67rem;
    padding: .2rem .15rem;
    background-color: #fff;
}
.dinner_img{
	width: 5.1rem;
	height: 1.27rem;
}
#xianliang{
	width: 100%;
	height: 4.39rem;
	background-color: #fff;
}
.xianliang_content{
	width: 100%;
	height: 4.24rem;
	padding: 0 .15rem;
	display: flex;
	flex-wrap: wrap;
	justify-content:space-between; 
	align-content: space-between;
}
.xianliang_item1{
	width: 2.53rem;
	height: 2.25rem;
	flex-shrink:0;
	padding-left: .24rem;
	padding-top: .26rem;
	background-color: #FAFAFA;
}
.xianliang_item2{
	width: 1.67rem;
	height: 1.94rem;
	background-color:#FAFAFA;
	flex-shrink:0;
	position: relative;
	text-align: center;
	padding-top: .21rem;
}
.xianliang_item1 h1{
	font-size: .24rem;
	font-weight: bold;
	line-height: .24rem;
	color: #e81a1a;
	margin-bottom: .15rem;
}
.xianliang_item1 span{
	font-size: .20rem;
	line-height: .20rem;
	color: #8b8b8b;
}
.xianliang_item1 p{
	font-size: .18rem;
	line-height: .18rem;
	display: inline-block;
	margin-left: .06rem;
}
.xianliang_item1 a{
	display: inline-block;
	font-weight: bold;
	font-size: .18rem;
	line-height: .18rem;
	color: #151515;
	margin-top: .15rem;
}
i{
	color: #e81a1a;
}
.xianliang_img{
	width: 100%;
	height: 1.03rem;
	position: relative;
}
.xianliang_img img{
	position: absolute;
	top: 0;
	right: 0;
	width: 1.9rem;
	height: 1.05rem;
}
.xianliang_item3 h1{
	color: #363636;
}
.xianliang_item3 a{
	color: #737373;
}
.xianliang_item2 h2{
	font-size: .24rem;
	line-height: .24rem;
	color: #363636;
	margin-bottom: .15rem;
}
.xianliang_item2 span{
	border: .01rem solid #666;
	color: #6D6D6D;
	border-radius: .05rem;
	font-size: .16rem;
	line-height: .21rem;
	text-align: center;
	padding: .02rem;
}
.xianliang_img2{
	width: 100%;
	height: .8rem;
	position: absolute;
	bottom: 0;
	left: 0;
}
.xianliang_img2 img{
	width: 1.67rem;
	height: .8rem;
}
.xianliang_bottom{
	width: 100%;
	height: .15rem;
	position: relative;
}
#pinzhi{
	width: 100%;
	height: 2.53rem;
	margin-top: .15rem;
	background-color: #fff;
	padding-top: .23rem;
}
.pinzhi_top{
	width: 100%;
	height: .2rem;
	position: relative;
}
.pinzhi_top h2{
	font-size: .2rem;
	line-height: .2rem;
	text-align: center;
	color: #ab7d42;
}
.wenzi_left{
	width: .35rem;
	height: .01em;	
	position: absolute;
	top: .11rem;
	left:1.74rem;
}
.wenzi_right{
	left: 3.31rem;
}
.wenzi_left_tiao{
	width: .3rem;
	height: .01rem;
	background-color: #cfa672;
	position: absolute;
	top: 0;
}
.wenzi_left_dian{
	width: .02rem;
	height: .01rem;
	background-color: #cfa672;
	position: absolute;
	top: 0;
}
.wenzi_left1{
	left: 0;
}
.wenzi_left2{
	right: 0;
}
.wenzi_right1{
	right: 0;
}
.wenzi_right2{
	left: 0;
}
.pinzhi_top span{
	font-size: .15rem;
	line-height: .15rem;
	color: #999;
	position: absolute;
	right: .15rem;
	top: .05rem;
}
.pinzhi_bottom{
	margin-top: .25rem;
	width: 100%;
	height: 1.58rem;
	display: flex;
	justify-content: space-between;
	align-content:space-between;
}
.pinzhi_img{
	width: .9rem;
	height: .9rem;
	margin: 0 auto;
}
.pinzhi_bottom h1{
	font-size: .2rem;
	line-height: .2rem;
	color: #545454; 
}
.pinzhi_bottom span{
	width: .76rem;
	height: .25rem;
	border-radius: .05rem;
	border: .01rem solid #73d0fd;
	color: #73d0fd;
	text-align: center;
	font-size: .14rem;
}
.pinzhi_bottom{
	padding: 0 .19rem;
}
.pinzhi_bottom li{
	width: 1rem;
	height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}
#tuijian{
	margin-top: .15rem;
	background-color: #fff;
	width: 100%;
	padding-top: .26rem;
}
.tuijian_top h2{
	color: #333;
}
.tuijian_top .wenzi_left_tiao{
	background-color: #333;
}
.tuijian_top .wenzi_left_dian{
	background-color: #333;
}
.tuijian_top .wenzi_left{
	top: .1rem;
}
.tuijian_wenzi{
	margin-top: .26rem;
	width: 100%;
	height: .2rem;
	line-height: .2rem;
	font-size: .2rem;
	color: #666;
	display: flex;
	justify-content: space-between;
	padding: 0 .2rem;
}
.tuijian_wenzi1{
	width: .86rem;
	height: .2rem;
	text-align: center;
}
.tuijian_wenzi2{
	font-weight: bold;
}
.tuijian_top1{
	width: 100%;
	height: .86rem;
	border-bottom: .01rem solid #eee;
}
.tuijian_bottom{
	width: 100%;
	padding:0 .13rem;
}
.tuijian_bottom1{
	width: 100%;
	height: 2.45rem;
	box-sizing: border-box;
	border-bottom: .01rem solid #eee;
	padding-top: .24rem;
	color: #9b9b9b;
}
.tuijian_left{
	float: left;
}
.tuijian_left img{
	width: .89rem;
	height: .89rem;
}
.tuijian_right{
	float: right;
	width: 4.1rem;
	height: 1.94rem;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}
.tr1{
	width: 100%;
	height: .28rem;
	padding-top: .03rem;
}
.tuijian_bottom1 .tr1 h1{
	float: left;
	font-size: .25rem;
	line-height: .25rem;
	font-family:Msyh; 
	color: #333;
}
.tr1 span{
	float: right;
    font-size: 0.3rem;
    color: #bfbfbf;
    line-height: .1rem;
}
.tr2{
	width: 100%;
	height: .16rem;
}
.tr2_img{
	width: .7rem;
	height: .16rem;
	float: left;
}
.tr2_img img{
	width: 100%;
	height: 100%;
}
.tr2 span{
	font-size: .16rem;
	line-height: .16rem;
	color: #9b9b9b;
	float: left;
}
.tr3{
	width: 100%;
	height: .18rem;
}
.tr3 span{
	font-size: .18rem;
	line-height: .18rem;
	float: left;
}
.tr3 p{
	font-size: .18rem;
	line-height: .18rem;
	float: right;
}
.tr4{
	width: 100%;
	height: .21rem;
}
.tr4 span{
	width: .9rem;
	height: .21rem;
	box-sizing: border-box;
	border: .02rem solid #9a9a9a;
	font-size: .14rem;
	line-height: .21rem;
	text-align: center;
}
.tr5{
	width: 100%;
	height: .2rem;
}
.tuijian_bottom1 .tr5 span{
	width: .32rem;
	height: .2rem;
	box-sizing: border-box;
	border: .02rem solid #d48a85;
	font-size: .12rem;
	line-height: .2rem;
	text-align: center;
}
.tr5 p{
	font-size: .16rem;
	line-height: .2rem;
	display: inline;
}
.tuijian_bottom1 .tr6 span{
	background-color: #f85147;
	color: #ffddad;
}



#bottom{
	width: 100%;
	height: .74rem;
	background-color: #f6f6f6;
	position: absolute;
	left: 0;
	bottom: 0;
	border-top: 1px solid #c8c8c8;
	padding: 0 .45rem;
	display: flex;
	justify-content:space-between; 
	align-items: center;
}
.bottom_item{
	width: .39rem;
	height: .6rem;
	color: #818181;
	display: flex;
	flex-direction: column;
	justify-content:space-between; 
	align-items: center;
	padding: .03rem 0;
}
.icon{
	font-family: 'iconfont';
	color: #818181;
	font-size: .3rem;
	line-height: .24rem;
}
.bottom_item4 span{
	color: #0097ff;
}
a{
    color: #9b9b9b;
}
