body{
	background-color: #fff;
}
.dingdian_content_item{
	width: 100%;
	height: 2.3rem;
	border-bottom: .02rem solid #eee;
}
.dingdian_content1{
	width: 100%;
	height: 1rem;
	padding: 0 .22rem;
	display: flex;
	justify-content:space-between;
	align-items: center;
}
.img_box{
	width: .56rem;
	height: .56rem;
	float: left;
}
.dingdian1_left h1{
	font-size: .22rem;
	line-height: .22rem;
	margin-left: .15rem;
	float: left;
}
.dingdian1_left i{
	font-size: .14rem;
	line-height: .14rem;
	color: #bbb;
	font-weight: 400;
}
.dingdian_content2{
	height: .3rem;
	padding-left: .7rem;
	margin-top: -0.2rem;
}
.shangpin1_left{
	float: left;
}
.shangpin1_right{
	float: right;
}
.shangpin1_left p{
	font-size: .18rem;
	line-height: .18rem;
	color: #686868;
}
.shangpin1_right span{
	font-size: .16rem;
	line-height: .16rem;
	color:#333 ;
	font-weight: bold;
}
.shangjia1_left{
	float: left: 
}
.shangjia1_right{
	width: 1.2rem;
	height: .42rem;
	border:.01rem solid #2395ff;
	color: #2395ff;
	float: right;
	border-radius: .08rem;
}
.shangjia1_right span{
	font-size: .2rem;
	line-height: .2rem;
	border-radius: .08rem;
	text-align: center;
	margin-top: 0.1rem;
    display: block;
    border-radius: .08rem;
}
.dingdan_bottom{
	width: 100%;
	height: .66rem;
	background-color: #f5f5f5;
	color: #c3c3c3;
}
.dingdan_bottom  span{
	font-size: .14rem;
	line-height: .14rem;
	text-align: center;
	display: block;
	padding-top: .2rem;
}