body{
	background-color: #f5f5f5;
}
#position{
	height: .88rem;
}
.position_top h1{
	padding-left: .25rem;
	line-height: .88rem;
	font-size: .25rem;
	color: #fff;
 }
 #content{
 	top: .88rem;
 }
 #banner{
	height: 3.04rem;
 }
 .banner_img{
 	height: 3.04rem;
 }
.youhui{
	margin-top: .06rem;
	width: 100%;
	height: 3.51rem;
	display: flex;
	flex-wrap: wrap; 
	justify-content:space-between;
	align-items: center;
}
.youhui_item{
	width: 2.68rem;
	height: 1.15rem;
	background-color: #fff;
	position: relative;
	padding-bottom: .02rem;
}
.youhui_item h1{
	font-size: .22rem;
	line-height: .22rem;
	padding-top: .32rem;
	color: #ff9900;
	padding-left: .22rem;
}
.youhui_item p{
	margin-top: .12rem;
	color:#9a9a9a ;
	font-size: .18rem;
	line-height: .18rem;
	padding-left: .22rem;
}
.youhui_box{
	width: 1.14rem;
	height: 1.14rem;
	position: absolute;
	top: 0;
	right: 0;
}
.youhui_item img{
	width: 1.14rem;
	height: 1.14rem;
}
#dinner{
	margin-top: .15rem;
	height: 1.48rem;
}
.dinner_img{
	width: 100%;
	height: 1.48rem;
}
.tuijian{
	background-color: #fff;
}
.tuijian_top{
	width: 100%;
	height: .96rem;
	color: #fff;
}
.tuijian_top h1{
	font-size: .25rem;
	line-height: .25rem;
	text-align: center;
	font-weight: bold;
	color: #333;
	padding-top: .3rem;
}
.tuijian_top p{
	font-size: .15rem;
	line-height: .15rem;
	text-align: center;
	color: #999;
	margin-top: .06rem;
}
.tuijian_bottom{
	width: 100%;
	height: 4.55rem;
}
.tuijian_bottom{
	width: 100%;
	padding: 0 .15rem;
	display: flex;
	justify-content:space-between;
}
.tuijian_item{
	width: 2.46rem;
	height: 3.78rem;
	border: .01rem solid #eee;
}
.tuijian_box{
	width: 2.46rem;
	height: 2.5rem;
	overflow: hidden;
}
.tuijian_item h1{
	font-size: .2rem;
    font-weight: bold;
    line-height: .2rem;
    color: #333;
    margin-top: 0.07rem;
    margin-left: .15rem;
}
.tuijian_item p{
    font-size: .12rem;
    line-height: .12rem;
    color: #909090;
    margin-left: .15rem;
    margin-top: 0.1rem;
}
.tuijian_item span{
    font-size: .18rem;
    line-height: .18rem;
    color: #ff6000;
    margin-left: .15rem;
    margin-top: 0.08rem;
    display: block;
}
.tuijian_item em{
	font-size: .12rem;
	line-height: .12rem;
	color: #9b9b9b;
}
.line{
	width: 1.04em;
    height: .02rem;
    color: #901313;
    margin-left: .15rem;
    margin-top: 0.15rem;
}
.tuijian_item a{
	font-size: .15rem;
    line-height: .15rem;
    color: #ccc;
    margin-top: .15rem;
    margin-left: .15rem;
}
.tuijian_more{
    width: 100%;
    height: .49rem;
    margin-top: -0.6rem;
    text-align: center;
}
.tuijian_more a{
	font-size: .18rem;
	color: #9d9d9d;
	line-height: .18rem;
	text-align: center;
	padding-top: .28rem;
}
